# CPP
**/*.o
**/*.out
ircserv

# Local secrets/config
.env
compile_commands.json

# VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

FT_IRC_TESTER/
